extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
   if (role && role.permissions && role.permissions.includes("roles_edit"))

    +alert-error("5000")
    +alert-success("5000")

    h1(class="mb-4") Chỉnh sửa nhóm quyền 

    form(
      action=`${prefixAdmin}/roles/edit/${record.id}?_method=PATCH`
      method="POST"
    )
      div(class="form-group")
        label(for="title") Tiêu đề
        input(
          type="text"
          id="title"
          name="title"
          class="form-control"
          value=record.title
        )
      div(class="form-group")
        label(for="desc") Mô tả
        input(
          type="text"
          id="desc"
          name="description"
          class="form-control"
          value = record.description
        )
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Cập nhật
    